.eventmain {
  width: 100%;
  height: 100vh;
  background-image: url("https://media.giphy.com/media/xUySTGe4k0X2EED1jq/giphy.gif");
  padding-left: 0%;
  padding-right: 8%;
  box-sizing: border-box;
  background-image: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.events-tab {
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  margin-left: 0vh;
  margin-right: 0vh;
  font-size: 18px;
  font-size: bold;
  width: 500px;
  display: inline;
  cursor: pointer;
}
.events-tab:hover {
  text-decoration: underline purple;
}
.name {
  height: 6vh;
  font-size: 2em;
  text-align: center;
  font-family: subhead;
  color: black;
}
.content-wrapper {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-y: visible;
}
.eventdetails {
  width: 100%;
  height: 10vh;
  border-radius: 20px;
  background-color: rgba(114, 68, 68, 0.5);
  flex-direction: row;
  display: flex;
  align-items: center;
}
.function {
  width: 100%;
  height: 10vh;
  flex-direction: row;
  display: flex;
  color: white;
}
.events-info-section {
  width: 100%;
  height: 60vh;
  border-radius: 20px;
  align-items: center;
  /* color: antiquewhite; */
  text-align: center;
  /* overflow-y: scroll; */
  /* color: white; */
  background-color: transparent;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-left: 100px;
  margin-right: 100px;
}
.name-tagline-fees {
  width: 100%;
  color: black;
  /* height: 10vh; */
  display: flex;
  flex-direction: row;
  cursor: pointer;
  background-color: rgba(245, 245, 220, 0.164);
}

.label {
  font-family: "Times New Roman", Times, serif;
  font-size: 120%;
  font-weight: 800;
  /* background-color:aquamarine; */
}
.text {
  font-family: "Times New Roman", Times, serif;
  font-size: 80%;
}

.ntf {
  text-align: left;
  font-weight: 600;
  /* background-color: #7e3310; */
}

.ntf tagline {
  text-align: center;
  /* background-color: #107e57; */
}
.name {
  /* background-color: purple; */
  width: 40%;
  /* height: 100%; */
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
}

.tagline {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 120%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode";
  color: black;
}
.ntf-fees {
  /* background-color: aqua; */
  color: black;
  font-weight: 200;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.adjust {
  display: flex;
  flex-direction: column;
  margin: 1vh 0;
  width: 50%;
}
.description-and-prizes {
  display: flex;
  width: 100%;
  /* height: 13vh; */
  background-color: transparent;
  flex-direction: row;
  /* align-items: center; */
  /* text-align: center; */
  margin: 1vh 0;
}
.adjust2 {
  /* height: 4vh; */
  /* width: 50%; */
  /* background-color: rgb(208, 255, 196); */
  font-size: 28px;
  font-family: body;
  color: white;
  text-align: center;
}
.desc {
  /* height: 9vh; */
  /* width: 90%; */
  /* background-color: rgb(255, 196, 240); */
  font-size: 23px;
  font-family: body;
  color: white;
  text-align: center;
  font-size: 18px;
  display: flex;
  overflow-wrap: normal;
  flex-wrap: wrap;
}
.prizes {
  /* height: 13vh; */
  width: 50%;
  /* background-color: rgb(141, 135, 222); */
  font-size: 23px;
  font-family: body;
  color: white;
  text-align: center;
  font-weight: 800;
  /* display: flex; */
  /* flex-direction: column; */
  /* margin-left: 13vh; */
}
.prizes {
  display: flex;
  flex-direction: column;
}

.pri {
  font-size: 25px;
  font-family: body;
  color: black;
  text-align: center;
  /* height: 4vh; */
  /* background-color:cadetblue; */
}
.info-heading {
  margin: 1vh 0;
  font-size: 28px;
}
.prize {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.my-prize {
  height: 10vh;
  width: 15vw;
}
.criteria {
  height: 15vh;
  width: 100%;
  font-size: 1.3em;
  font-family: subhead;
  color: black;
  text-align: center;
}
.incharges {
  /* height: 10vh; */
  width: 100%;
  font-size: 22px;
  font-family: body;
  color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.in-name:hover {
  color: #8c85c7;
  cursor: pointer;
}
.date {
  width: 100%;
  /* background-color:aqua; */
  color: black;
  text-align: left;
  font-size: 22px;
  font-family: body;
  font-weight: 800;
}
.time1 {
  width: 100%;
  /* background-color:chocolate; */
  color: black;
  text-align: left;
  font-size: 22px;
  font-family: body;
  font-weight: 800;
}
.dateandtime {
  /* height: 5vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color:burlywood; */
}
.heading {
  font-size: 1.5em;
  font-family: subhead;
  color: #8c85c7;
  text-align: center;
  font-weight: bolder;
  background-color: transparent;
}
.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.not {
  color: white;
  font-size: 40px;
  text-align: center;
}
.incharge {
  /* height: 25vh; */
  padding: 2vh 0;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}
.in-name {
  width: 100%;
  /* background-color: crimson; */
  font-size: 28px;
  font-weight: 800;
  font-family: subhead;
  color: white;
  text-align: center;
}
.in-email {
  width: 100%;
  /* background-color: rgb(20, 207, 220); */
  font-size: 22px;
  font-family: body;
  color: white;
  text-align: center;
}

.in-phone {
  width: 100%;
  /* background-color: rgb(220, 100, 20); */
  font-size: 22px;
  font-family: body;
  color: white;
  text-align: center;
}
.dateandtime {
  display: inline;
}
@media only screen and (max-width: 600px) {
  .eventmain {
    padding: 2vh 0vh;
    overflow-x: hidden;
    background-size: cover;
    background-image: no-repeat center center fixed;
    background-size: cover;
    height: fit-content;
    flex-wrap: wrap;
  }
  .events-tab {
    width: 40%;
    border: rgba(0, 0, 0, 0) solid thin;
    text-align: center;
    display: flex;
    font-size: small;
    flex-direction: row;
    flex-wrap: wrap;
    column-count: 3;
    column-gap: 20px;
    justify-content: center;
  }
  .event {
    display: grid;
    justify-content: center;
  }

  .events-tab:hover {
    border: purple solid thin;
  }

  .name {
    /* height: 6vh; */
    font-size: xx-large;
    text-align: center;
    font-family: subhead;
  }
  .content {
    margin-top: 2vh;
    margin-top: 2vh;
  }
  .eventdetails {
    width: 100%;
    height: 20vh;
    border-radius: 20px;
    background-color: rgba(10, 10, 10, 0.5);
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .eventdescription {
    width: 50%;
    height: 10vh;
    border-radius: 20px;
    background-color: rgba(5, 62, 77, 0.5);
    font-size: 7px;
    color: antiquewhite;
    font-style: bold;
    font-family: subhead;
  }
  .events-info-section {
    height: fit-content;
    overflow-y: visible;
  }
  .function {
    flex-wrap: wrap;
  }
  .info {
    height: 6%;
    width: 100%;
    margin: 1vh 0;
    text-align: center;
    font-size: 30px;
  }
  .name-tagline {
    flex-wrap: wrap;
  }
  .name {
    width: 100%;
    font-size: xx-large;
    font-weight: bold;
  }
  .label {
    font-size: large;
  }
  .tagline {
    width: 100%;
    font-size: small;
  }
  .prizes {
    width: 40%;
    font-size: small;
  }
  .info-heading {
    font-size: small;
  }
  .adjust2 {
    font-size: medium;
    font-weight: bold;
  }

  .incharge {
    font-size: small;
  }
  .incharge {
    font-size: small;
  }
  .in-name {
    font-size: x-small;
  }
  .in-email {
    font-size: small;
  }
  .in-phone {
    font-size: xx-small;
  }
  .dateandtime {
    font-size: xx-small;
  }
  .date {
    font-size: xx-small;
  }
  .time1 {
    font-size: xx-small;
  }
  .card {
    flex-wrap: wrap;
  }
  .incharge {
    width: 100%;
    margin: 1vh 0;
  }
  .heading {
    font-size: large;
  }
  .desc {
    font-size: small;
    display: flex;
    overflow-wrap: break-word;
    flex-wrap: wrap;
    font-weight: 200;
  }
  .ntf-fees {
    font-size: small;
  }
  .description-and-prizes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
