    <body>
        <div class="event" id="event">
        
            <div class="header">
                <img src="wensto.jpg" class="logo">
            
            <div class="navbar">
                <a href="#">Bombay Circuits</a>
                <a href="#">Naukari Central</a>
                <a href="#">Mehfil E Taxi</a>
                <a href="#">Techy Talkies</a>
                <a href="#"> Once Upon A Time In Mumbai</a>
                <a href="#">Web Srujana</a>
                <a href="#">Ravzion</a>
                <a href="#">Matarghasti</a>
        
            </div>
            </div>
            <div>
                <button class="btn"><a href="">Notification</a></button>
                <button class="btn"><a href="">Rules</a></button>
                <button class="btn"><a href="">Information</a></button>
            </div>
            
        </div>

    
    </body>

