*{
    margin:0;
    padding:0;
}
.event{
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/images/backg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 0%;
    padding-right: 8%;
    box-sizing: border-box;
}
.header{
    height: 13%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.logo{
    width: 400px;
    cursor: pointer;
    margin-top: 80px;
    margin-left: 0%;

    
}
.navbar{
    text-align: center;
    flex: 1;
}
.navbar a{
    padding: 6px;
    text-decoration: none;
    color: black;
    margin-left: 1vh;
    margin-right: 1vh;
    font-size: 18px;
    font-size: bold;    
}
.navbar a:hover{
    background-color: beige;
}
.btn{
    cursor: pointer;
    color:black;
    font-size: 15;
    letter-spacing: 1px;
    padding: 10px 20px;
    border: 2px solid #121213;
    background: transparent;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 10px;
    font-family: sans-serif;
}
.btn:hover{
    color: #121213;
    animation-name: bounce;
    animation-timing-function: ease;
}
@keyframes btn{
   0% {transform:translateY(0) ;}
   50% { transform: translateY(-50px);}
   100%{transform: translateY(0);}
}

    