

<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet"> 
<body>
<footer>
<div class="footer">
<div class="row">
<a  href="https://www.youtube.com/channel/UCbdLV95w2jS6GhgbLv74C_g" target="_blank"><img src="/assets/youtube.png" style="width:40px;height:40px"><i class="fa fa-youtube-play"></i></a>
<a href="https://instagram.com/ieee.umit?igshid=YzdkMWQ2MWU=" target="_blank"><img src="/assets/instagram.ico" style="width:40px;height:40px"><i class="fa fa-instagram"></i></a>
<a href="https://www.linkedin.com/company/ieeeumitofficial" target="_blank"><img src="/assets/linkedin.png" style="width:40px;height:40px"><i class="fa fa-linkedin"></i></a>
<h1>ieee.umit2223@gmail.com</h1>
</div>
<div class="row">
<ul>
<li><a href="#home">Home</a></li>
<li><a href="#timeline">Timeline</a></li>
<li><a href="#events">Events</a></li>
<li><a href="#faqs">FAQs</a></li>
<!-- <li><a href="#"></a></li> -->
</ul>
</div>
<div class="row">
WENSTOA Copyright © 2023 IEEE UMIT - All rights reserved || Designed By: IEEE UMIT 
</div>
</div>
</footer>
