<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet"> 
<body>
<footer>
<div class="footer">
<div class="row">
<a href="https://www.youtube.com/channel/UCbdLV95w2jS6GhgbLv74C_g"><i class="fa fa-youtube-play"></i></a>
<a href="https://instagram.com/ieee.umit?igshid=YzdkMWQ2MWU="><i class="fa fa-instagram"></i></a>
<a href="https://www.linkedin.com/company/ieeeumitofficial"><i class="fa fa-linkedin"></i></a>
<h1>ieee.umit2223@gmail.com</h1>
</div>
<div class="row">
<ul>
<li><a href="#C:\Users\Mokshada Patil\OneDrive\Documents\Desktop\CLONE\Wenstoa\IEEEFest\src\app\home">Home</a></li>
<li><a href="#">Timeline</a></li>
<li><a href="#">Events</a></li>
<li><a href="#">FAQs</a></li>
<li><a href="#"></a></li>
</ul>
</div>
<div class="row">
WENSTOVA Copyright © 2023 IEEE UMIT - All rights reserved || Designed By: IEEE UMIT 
</div>
</div>
</footer>
