<!-- <div>
    <nav>
            <ul class="nav-link">
                <li><a href="">HOME</a></li>
                <li><a href="">TIMELINE</a></li>
                <li><a href="">EVENTS</a></li>
                
            </ul>
        </nav>
       <a class="cta" href="#"><button>Register</button></a> 
    </div> -->

<!-- navbar without background black -->
<!-- <div class="header">
    <nav>
    <div class="logo1">
        <img src="../../assets/ieeelogo.png" alt="">
    </div>
  
    <div class="navlist">
        <p><a href="#">HOME</a></p>
        <p><a href="#">TIMELINE</a></p>
        <p><a href="#">EVENTS</a></p>
    </div>
    </nav> -->


    <!-- new -->
    <div class="home" id="home">
    <section class="header">
        <nav>
            <a href="superindex.html"><img src="../../assets/ieeelogo.png"></a>
            <div class="nav-link">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="#home">HOME</a></li>
                    <li><a href="#timeline">TIMELINE</a></li>
                    <li><a href="#events">EVENTS</a></li>
                    
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
    </section>
    </div>
