<div class="title">
   <h1>EVENTS</h1>
  </div>

  <section>
    <div class="card">
        <div class="box">
            <div class="imgBx">
                <img src="/assets/images/img 1.webp" style="width:300px;height:300px">
            </div>
            <div class="contentBx">
                <div>
                <h2>MAHEFIL-E-TAXI</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                   sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                   Ut enim ad minim veniam.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="box">
            <div class="imgBx">
                <img src="/assets/images/img 2.jpeg" style="width:300px;height:300px">
            </div>
            <div class="contentBx">
                <div>
                <h2>Event Name</h2>
                <p>The additional information about event</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="box">
            <div class="imgBx">
                <img src="" style="width:300px;height:300px">
            </div>
            <div class="contentBx">
                <div>
                <h2>Event Name</h2>
                <p>The additional information about event</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="box">
            <div class="imgBx">
                <img src="" style="width:300px;height:300px">
            </div>
            <div class="contentBx">
                <div>
                <h2>MEvent Name</h2>
                <p>The additional information about event</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="box">
            <div class="imgBx">
                <img src="" style="width:300px;height:300px">
            </div>
            <div class="contentBx">
                <div>
                <h2>Event Name</h2>
                <p>The additional information about event</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="box">
            <div class="imgBx">
                <img src="" style="width:300px;height:300px">
            </div>
            <div class="contentBx">
                <div>
                <h2>Event Name</h2>
                <p>The additional information about event</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="box">
            <div class="imgBx">
                <img src="" style="width:300px;height:300px">
            </div>
            <div class="contentBx">
                <div>
                <h2>Event Name</h2>
                <p>The additional information about event</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="box">
            <div class="imgBx">
                <img src="" style="width:300px;height:300px">
            </div>
            <div class="contentBx">
                <div>
                <h2>Event Name</h2>
                <p>The additional information about event</p>
                </div>
            </div>
        </div>
    </div>




  </section>

