.photo img{
	overflow: hidden;
    width: 100px;
    width: 100%;
    height: 95vh;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}
/* .body{
    color: palevioletred;
   
} */
#text{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }
.empty-box1{ 
    width: 150px; 
    height: 150px; 
    border: 2px solid rgb(230, 101, 183); 
    top:-69.5vh; 
    position:relative;
    margin-top: 10%;
    margin-left:4%;
    border-radius:10%;
    box-shadow: 1px 2px 0 rgb(255, 120, 142);
    /* margin-bottom: 800%; */
} 
.empty-box2 { 
    width: 150px; 
    height: 150px; 
    border: 2px solid rgb(230, 101, 183); 
    top:-118vh; 
    position:relative;
    margin-top: 10%;
    margin-left:16%;
    border-radius:10%;
    box-shadow: 1px 2px 0 rgb(255, 120, 142);
    /* margin-bottom: 800%; */
} 
.empty-box3 { 
    width: 150px; 
    height: 150px; 
    border: 2px solid rgb(230, 101, 183); 
    top:-151.2vh; 
    position:relative;
    margin-top: 10%;
    margin-left:28%;
    border-radius:10%;
    box-shadow: 1px 2px 0 rgb(255, 120, 142);
    /* margin-bottom: 800%; */
} 
.empty-box4 { 
    width: 150px; 
    height: 150px; 
    border: 2px solid rgb(230, 101, 183); 
    top:-198vh; 
    position:relative;
    margin-top: 10%;
    margin-left:40%;
    border-radius:10%;
    box-shadow: 1px 2px 0 rgb(255, 120, 142);
    /* margin-bottom: 800%; */
} 
.empty-box5 { 
    width: 150px; 
    height: 150px; 
    border: 2px solid rgb(230, 101, 183); 
    top:-246vh; 
    position:relative;
    margin-top: 10%;
    margin-left:52%;
    border-radius:10%;
    box-shadow: 1px 2px 0 rgb(255, 120, 142);
    /* margin-bottom: 800%; */
} 
.empty-box6 { 
    width: 150px; 
    height: 150px; 
    border: 2px solid rgb(230, 101, 183); 
    top:-279.9vh; 
    position:relative;
    margin-top: 10%;
    margin-left:64%;
    border-radius:10%;
    box-shadow: 1px 2px 0 rgb(255, 120, 142);
    /* margin-bottom: 800%; */
} 
.empty-box7 { 
    width: 150px; 
    height: 150px; 
    border: 2px solid rgb(230, 101, 183); 
    top:-326.6vh; 
    position:relative;
    margin-top: 10%;
    margin-left:76%;
    border-radius:10%;
    box-shadow: 1px 2px 0 rgb(255, 120, 142);
    /* margin-bottom: 800%; */
} 
.empty-box8 { 
    width: 150px; 
    height: 150px; 
    border: 2px solid rgb(230, 101, 183); 
    top:-375vh; 
    position:relative;
    margin-top: 10%;
    margin-left:87%;
    border-radius:10%;
    box-shadow: 1px 2px 0 rgb(255, 120, 142);
    /* margin-bottom: 800%; */
} 


/* Paint Dripping Animation */
 /* .body {
    margin: 0;
    }
    
    canvas {
    display: block;
    } */



    /* animation dot bg */

    *{
       margin:0;
       padding:0;
       box-sizing: border-box; 
    }
    body{
       min-height: 100vh;
       background:#f29fea; 
    }
    .container{
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
    .bubbles{
       position:relative;
       display: flex; 
    }
    .bubbles span{
        position:relative;
        width: 30px;
        height: 30px;
        background:#4fc3dc;
        margin: 0 4px;
        border-radius: 50%;
        box-shadow: 0 0 0 5px #4fc3dc44,
        0 0 10px #4fc3dc,
        0 0 12px #4fc3dc;
        animation:animate 15s linear infinite;
        animation-duration:calc(120s/var(--i));
    }
    .bubbles span:nth-child(even){
        background:red;
        border-radius: 50%;
        box-shadow: 0 0 0 5px #4fc3dc44,
        0 0 10px red,
        0 0 12px red;

    }

    @keyframes animate
    {
       0%
       {
        transform:translateY(100vh) scale(0);
       } 
       100%
       {
        transform:translateY(-10vh) scale(1);
       }
    }