<div class="timelinepg" >
  <div class="text">TIMELINE</div>

  <div class="timeline">
    <div class="outer">
      <div class="card">
        <div class="info">
          <h3 class="title">Title 1</h3>
          <div class="date">Date : 03/02/23 </div>
          <div class="time">3:00 pm to 4:00 pm</div>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <h3 class="title2">Title 2</h3>
          <div class="date2">Date : 03/02/23 </div>
          <div class="time2">3:00 pm to 4:00 pm</div>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <h3 class="title">Title 3</h3>
          <div class="date">Date : 03/02/23 </div>
          <div class="time">3:00 pm to 4:00 pm</div>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <h3 class="title2">Title 4</h3>
          <div class="date2">Date : 03/02/23 </div>
          <div class="time2">3:00 pm to 4:00 pm</div>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <h3 class="title">Title 5</h3>
          <div class="date">Date : 03/02/23 </div>
          <div class="time">3:00 pm to 4:00 pm</div>
        </div>
      </div>
      
      <div class="card">
        <div class="info">
          <h3 class="title2">Title 6</h3>
          <div class="date2">Date : 03/02/23 </div>
          <div class="time2">3:00 pm to 4:00 pm</div>
</div>
</div>
          
      <div class="card">
        <div class="info">
          <h3 class="title">Title 7</h3>
          <div class="date">Date : 03/02/23 </div>
          <div class="time">3:00 pm to 4:00 pm</div>
          </div>
          </div>
          
      <div class="card">
        <div class="info">
          <h3 class="title2">Title 8</h3>
          <div class="date2">Date : 03/02/23 </div>
          <div class="time2">3:00 pm to 4:00 pm</div>
        </div>
        </div>

    </div>
  </div>
</div>


     
  



<!-- 

    <section> 
       <div class="toy-train">
          <div class="engine">
            <div class="window">
              <div class="engine-main">
                <div class="smokes">
                  <span></span>
                </div>
              </div>
            </div>
            <div class="engine-body">
              <div class="wheels">
                <div class="big-wheel"></div>
                <div class="normal-wheel"></div>
              </div>
            </div>
          </div>
          <div class="locomotive">
            <div class="trash"></div>
            <div class="wheels">
              <div class="normal-wheel"></div>
              <div class="normal-wheel"></div>
            </div>
          </div>
          <div class="tracks">
            <span></span>
            <span></span>
          </div>
        </div>
    </section>
    <section>
      <div class="toy-train1">
          <div class="engine">
            <div class="window">
              <div class="engine-main">
                <div class="smokes">
                  <span></span>
                </div>
              </div>
            </div>
            <div class="engine-body">
              <div class="wheels">
                <div class="big-wheel"></div>
                <div class="normal-wheel"></div>
              </div>
            </div>
          </div>
          <div class="locomotive">
            <div class="trash"></div>
            <div class="wheels">
              <div class="normal-wheel"></div>
              <div class="normal-wheel"></div>
            </div>
          </div>
          <div class="tracks">
            <span></span>
            <span></span>
          </div>
        </div>
    </section> -->
    
    

