<body>
  <h1 id="text">TIMELINE</h1>

  
  
    <div class="timeline">
        <div class="line"></div>
        <div class="section">
            <div class="circle"></div>
            <div class="content">
                <h2>Bombay Circuits</h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam reprehenderit, dolorum maiores modi deserunt tempore quisquam similique non ab natus reiciendis quam quibusdam cumque quod eaque! Illo voluptatum unde ipsam.
                </p>
            </div>
        </div>

        <div class="section">
            <div class="circle"></div>
            <div class="content">
                <h2>Techy Talkies</h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam reprehenderit, dolorum maiores modi deserunt tempore quisquam similique non ab natus reiciendis quam quibusdam cumque quod eaque! Illo voluptatum unde ipsam.
                </p>
            </div>
        </div>

        <div class="section">
            <div class="circle"></div>
            <div class="content">
                <h2>Web Srujana</h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam reprehenderit, dolorum maiores modi deserunt tempore quisquam similique non ab natus reiciendis quam quibusdam cumque quod eaque! Illo voluptatum unde ipsam.
                </p>
            </div>
        </div>

        <div class="section">
            <div class="circle"></div>
            <div class="content">
                <h2>Naukari Central</h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam reprehenderit, dolorum maiores modi deserunt tempore quisquam similique non ab natus reiciendis quam quibusdam cumque quod eaque! Illo voluptatum unde ipsam.
                </p>
            </div>
        </div>
    </div>



     
  



<!-- 

    <section> 
       <div class="toy-train">
          <div class="engine">
            <div class="window">
              <div class="engine-main">
                <div class="smokes">
                  <span></span>
                </div>
              </div>
            </div>
            <div class="engine-body">
              <div class="wheels">
                <div class="big-wheel"></div>
                <div class="normal-wheel"></div>
              </div>
            </div>
          </div>
          <div class="locomotive">
            <div class="trash"></div>
            <div class="wheels">
              <div class="normal-wheel"></div>
              <div class="normal-wheel"></div>
            </div>
          </div>
          <div class="tracks">
            <span></span>
            <span></span>
          </div>
        </div>
    </section>
    <section>
      <div class="toy-train1">
          <div class="engine">
            <div class="window">
              <div class="engine-main">
                <div class="smokes">
                  <span></span>
                </div>
              </div>
            </div>
            <div class="engine-body">
              <div class="wheels">
                <div class="big-wheel"></div>
                <div class="normal-wheel"></div>
              </div>
            </div>
          </div>
          <div class="locomotive">
            <div class="trash"></div>
            <div class="wheels">
              <div class="normal-wheel"></div>
              <div class="normal-wheel"></div>
            </div>
          </div>
          <div class="tracks">
            <span></span>
            <span></span>
          </div>
        </div>
    </section> -->
    
    

