
<body>

  <!-- <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
/> -->
  <div class="section-container">
  <section>
    <div class="section-heading">
      <h2 data-aos="fade-up" data-aos-duration="1000">TIMELINE</h2>
    </div>
    <p data-aos="fade" data-aos-duration="800" data-aos-delay="400">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi,
      accusamus!
    </p>
    <img
      data-aos="fade"
      data-aos-duration="1500"
      data-aos-delay="200"
      src="../../assets/timelinetrain.png"
      alt=""
    />
  </section>
  </div>



  <h1 id="text">
    TIMELINE
  </h1>
<div class="timeline" id="timeline"> 
<div class="photo">
    <img src="../../assets/timelinetrain.png">
</div>
  <div class="box-container" *ngFor="let x of timelinedel">
    <div class="empty-box1">
    <h3>{{x.name}}</h3>
    <h4>{{x.time}}</h4>
    <h5>{{x.Venue}}</h5>
    </div>
    <!-- <div class="empty-box2">
    <h3>Fest name</h3>
    <h4>12:30</h4>
    <h5>Foyer</h5>
    </div>
    <div class="empty-box3">
    <h3>Fest name</h3>
    <h4>12:30</h4>
    <h5>Foyer</h5>
    </div>
    <div class="empty-box4">
    <h3>Fest name</h3>
    <h4>12:30</h4>
    <h5>Foyer</h5>
    </div>
    <div class="empty-box5">
    <h3>Fest name</h3>
    <h4>12:30</h4>
    <h5>Foyer</h5>
    </div>
    <div class="empty-box6">
    <h3>Fest name</h3>
    <h4>12:30</h4>
    <h5>Foyer</h5>
    </div>
    <div class="empty-box7">
    <h3>Fest name</h3>
    <h4>12:30</h4>
    <h5>Foyer</h5>
    </div>
    <div class="empty-box8">
    <h3>Fest name</h3>
    <h4>12:30</h4>
    <h5>Foyer</h5>
    </div> -->
    </div>
    </div>

<!-- animation dot bg -->
 <!-- <div class="container">
  <div class="bubbles">
    <span style="--i:21" ></span>
    <span style="--i:26" ></span>
    <span style="--i:31" ></span>
    <span style="--i:11" ></span>
    <span style="--i:12" ></span>
    <span style="--i:24" ></span>
    <span style="--i:28" ></span>
    <span style="--i:17" ></span>
    <span style="--i:21" ></span>
    <span style="--i:26" ></span>
    <span style="--i:31" ></span>
    <span style="--i:11" ></span>
    <span style="--i:12" ></span>
    <span style="--i:24" ></span>
    <span style="--i:10" ></span>
    <span style="--i:14" ></span>
    <span style="--i:11" ></span>
    <span style="--i:12" ></span>
    <span style="--i:24" ></span>
    <span style="--i:10" ></span>
    <span style="--i:14" ></span>
    <span style="--i:23" ></span>
    <span style="--i:18" ></span>
    <span style="--i:16" ></span>
    <span style="--i:19" ></span>
    <span style="--i:22" ></span>
    <span style="--i:25" ></span>
    <span style="--i:30" ></span>
    <span style="--i:13" ></span>
    <span style="--i:15" ></span>
    <span style="--i:10" ></span>
    <span style="--i:27" ></span>
    <span style="--i:23" ></span>
    <span style="--i:28" ></span>
    <span style="--i:17" ></span>
    <span style="--i:21" ></span>
    <span style="--i:26" ></span>
    <span style="--i:31" ></span>
    <span style="--i:11" ></span>
    <span style="--i:12" ></span>
    <span style="--i:24" ></span>
    <span style="--i:10" ></span>
    <span style="--i:14" ></span>
    <span style="--i:23" ></span>
    <span style="--i:18" ></span>
    <span style="--i:16" ></span>
    <span style="--i:19" ></span>
    <span style="--i:22" ></span>
    <span style="--i:25" ></span>
    <span style="--i:30" ></span>
    <span style="--i:13" ></span>
    <span style="--i:15" ></span>
    <span style="--i:10" ></span>
    <span style="--i:27" ></span>
    <span style="--i:23" ></span>
    <span style="--i:28" ></span>
    <span style="--i:17" ></span>
    <span style="--i:21" ></span>
    <span style="--i:26" ></span>
    <span style="--i:31" ></span>
    <span style="--i:35" ></span>
    <span style="--i:33" ></span>
    <span style="--i:32" ></span>
    <span style="--i:36" ></span>
    <span style="--i:40" ></span>
    <span style="--i:33" ></span>
    <span style="--i:32" ></span>
    <span style="--i:36" ></span>
  

    <span style="--i:17" ></span>
    <span style="--i:21" ></span>
    <span style="--i:26" ></span>
    <span style="--i:31" ></span>
    <span style="--i:11" ></span>
    <span style="--i:12" ></span>
    <span style="--i:24" ></span>
    <span style="--i:10" ></span>
  
    <span style="--i:17" ></span>
    <span style="--i:21" ></span>
    <span style="--i:26" ></span>
    <span style="--i:31" ></span>
    <span style="--i:35" ></span>


    <span style="--i:30" ></span>
    <span style="--i:13" ></span>
    <span style="--i:15" ></span>
    <span style="--i:10" ></span>
    <span style="--i:27" ></span>

    <span style="--i:28" ></span>
    <span style="--i:17" ></span>
    <span style="--i:21" ></span>
    <span style="--i:26" ></span>
    <span style="--i:31" ></span>
    <span style="--i:11" ></span>
    <span style="--i:12" ></span>
    <span style="--i:24" ></span>
    <span style="--i:10" ></span>
    <span style="--i:14" ></span>

    <span style="--i:17" ></span>
    <span style="--i:21" ></span>
    <span style="--i:26" ></span>
    <span style="--i:31" ></span>
    <span style="--i:11" ></span>
    <span style="--i:12" ></span>
    <span style="--i:24" ></span>
    <span style="--i:10" ></span>

    <span style="--i:17" ></span>
    <span style="--i:21" ></span>
    <span style="--i:26" ></span>
    <span style="--i:31" ></span>
    <span style="--i:35" ></span>

    <span style="--i:28" ></span>
    <span style="--i:17" ></span>
    <span style="--i:21" ></span>
    <span style="--i:26" ></span>
    <span style="--i:31" ></span>
    <span style="--i:11" ></span>
 
    <span style="--i:31" ></span>
    <span style="--i:11" ></span>
    <span style="--i:12" ></span>
    <span style="--i:24" ></span>
    <span style="--i:10" ></span>
    <span style="--i:14" ></span>

    <span style="--i:21" ></span>
    <span style="--i:26" ></span>
    <span style="--i:31" ></span>
    <span style="--i:11" ></span>
    <span style="--i:12" ></span>
    <span style="--i:24" ></span>
    <span style="--i:28" ></span>
    <span style="--i:17" ></span>
    <span style="--i:21" ></span>
    <span style="--i:26" ></span>
    <span style="--i:31" ></span>
    <span style="--i:11" ></span>
    <span style="--i:12" ></span>
    <span style="--i:24" ></span>
    <span style="--i:10" ></span>
    <span style="--i:14" ></span>
    <span style="--i:30" ></span>
    <span style="--i:13" ></span>
    <span style="--i:15" ></span>
    <span style="--i:10" ></span>
    <span style="--i:27" ></span>
    <span style="--i:23" ></span>
    <span style="--i:28" ></span>
    <span style="--i:17" ></span>
    <span style="--i:21" ></span>
    <span style="--i:26" ></span>
    <span style="--i:31" ></span>
    <span style="--i:35" ></span>
    <span style="--i:33" ></span>
    <span style="--i:32" ></span>
    <span style="--i:36" ></span>
    <span style="--i:40" ></span>
    <span style="--i:33" ></span>
    <span style="--i:32" ></span>
    <span style="--i:36" ></span>
    <span style="--i:28" ></span>
    <span style="--i:17" ></span>
    <span style="--i:21" ></span>
    <span style="--i:26" ></span>
    <span style="--i:31" ></span>
    <span style="--i:11" ></span>
    <span style="--i:12" ></span>
    <span style="--i:24" ></span>
    <span style="--i:10" ></span>
    <span style="--i:14" ></span>
   
  </div>
 </div> -->

<!-- ship -->
 <!-- <div class="ocean">
  <div class="boat"><img src="https://vignette1.wikia.nocookie.net/steven-universe/images/e/e4/Yellowtail%27s_Boat.png/revision/latest?cb=20161011005235"/></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
</div> -->





  </body>