<body>
 <div class="main">
  <div class="home">
    <div>
      <div spellcheck="false" class="text" contenteditable="false">
        <h1> IEEE UMIT Presents
          <br>A 360 Degree +
        </h1>
      </div>
      
      <div class="wenstoa">
        <img src="../../assets/wenstsmall.png" height="170px" width="500px">
      </div>
      <div class="lettera">
        <img src="../../assets/a.png" height="140px" width="130px">
      </div>

      <div class="ferris-wheel">
        <div class="wheel-wrap">
          <div class="wheels">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>

          <div class="buckets">
            <div><span></span></div>
            <div><span></span></div>
            <div><span></span></div>
            <div><span></span></div>
            <div><span></span></div>
            <div><span></span></div>
            <div><span></span></div>
            <div><span></span></div>
            <div><span></span></div>
            <div><span></span></div>
            <div><span></span></div>
            <div><span></span></div>
            <div><span></span></div>
            <div><span></span></div>
            <div><span></span></div>
            <div><span></span></div>
          </div>
        </div>
        <div class="stand"><span></span></div>
      </div>
      
      
    <div class="Firework"></div>
    <div class="Firework"></div>
    <div class="Firework"></div>
    <div class="Firework"></div>
    <div class="Firework"></div>
    <div class="Firework"></div>
    <div class="Firework"></div>

    <div class="main-content"></div>
    <div class="item button-pressure">
      <!-- <button>
        <p> Register Now </p> -->
        <a href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          REGISTER
        </a>
        <!-- <button> -->
        <div class="tagline">
          <marquee scrollamount="12">
            <span>City that makes you halt forever.</span>
            <span>Come join us on 3rd & 4th february 2023.</span>
            <span>We will love to see your happy faces.</span>
          </marquee>
        </div>
      </div>
    </div>
  </div>
 
<div class="sponsor">
  <h1>Our Sponsors</h1>
<div class="grid image-grid">
  <div class="grid-block" *ngFor="let x of spons">
    <div class="tile">
      <a class="tile-link" href={{x.link}}>
        <img class="tile-img tile-img1" src={{x.img}} alt="Image">
      </a>
    </div>
  </div>
  </div>
</div>

 <footer>
  <div class="footer">
  <div class="row">
  <a  href="https://www.youtube.com/channel/UCbdLV95w2jS6GhgbLv74C_g" target="_blank"><img src="/assets/youtube.png" style="width:40px;height:40px"><i class="fa fa-youtube-play"></i></a>
  <a href="https://instagram.com/ieee.umit?igshid=YzdkMWQ2MWU=" target="_blank"><img src="/assets/instagram.ico" style="width:40px;height:40px"><i class="fa fa-instagram"></i></a>
  <a href="https://www.linkedin.com/company/ieeeumitofficial" target="_blank"><img src="/assets/linkedin.png" style="width:40px;height:40px"><i class="fa fa-linkedin"></i></a>
  <h1>ieee.umit2223@gmail.com</h1>
  </div>
  <div class="row">
  <ul>
  <!-- <li><a href="#home">Home</a></li>
  <li><a href="#timeline">Timeline</a></li>
  <li><a href="#events">Events</a></li>
  <li><a href="#faqs">FAQs</a></li> -->
  <li *ngFor="let x of footer" class="listitem">
      <a routerLink="{{x.link}}">{{x.name}}</a>
  </li>
  </ul>
  </div>
  <div class="row">
  WENSTOA Copyright © 2023 IEEE UMIT - All rights reserved || Designed By: IEEE UMIT 
  </div>
  </div>
  </footer>
</div>
</body>
