<div class="section">

  <div class="heading-cont">
    <div class="heading">
      Frequently Asked Questions
    </div>
  </div>
</div>
<br><br>
      <div class="section-content">
        <div class="faq">
          <div class="faq-content" *ngFor="let FAQ of faq; let i=index">
            <div class="question-cont">
            <div class="faq-arrow" (click)="toggleFAQ(i)" [ngClass]="{'faq-arrow-turn':faqDisplay[i]}">|[
            </div>
            {{FAQ.question}}
            <div class="answers" [ngClass]="{'a-popout':faqDisplay[i]}">
            {{FAQ.answer}}
          </div>
          </div>
          </div>
          </div>
        </div>
      
    